fastapi==0.124.4
uvicorn[standard]==0.38.0
pydantic==2.12.5
python-dotenv==1.0.1
requests==2.32.3
yfinance==0.2.66
numpy==1.26.4
pandas==2.2.2
pandas-datareader==0.10.0
setuptools==80.9.0
pypdf==6.4.1
python-multipart==0.0.20
psutil==7.2.2
